<%- include('components/header', { title }) %>
<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
  <form method="POST" action="" class="sm:col-span-4 sm:col-start-2 lg:col-span-2 lg:col-start-3">
    <label for="title" class="block text-sm font-medium text-gray-700">* Title:</label>
    <div class="mt-1 flex rounded-md shadow-sm">
      <input required="true" type="text" name="title" id="title" class="focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 block w-full pr-10 focus:outline-none sm:text-sm rounded-md">
    </div>

    <label for="author" class="block text-sm font-medium text-gray-700">* Author:</label>
    <select id="author" name="author" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      <% authors.sort((a, b) => {
        const textA = a.family_name.toUpperCase();
        const textB = b.family_name.toUpperCase();
        return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
      }).forEach(author => { %>
        <% if (locals.book) { %>
          <option value="<%= author.id %>" selected="<%= author.id === book.author.id ? 'selected' : false %>">
            <%= author.name %>
          </option>
        <% } else { %>
          <option value="<%= author.id %>"><%= author.name %></option>
        <% } %>
      <% }) %>
    </select>

    <label for="summary" class="block text-sm font-medium text-gray-700">* Summary:</label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <textarea id="summary" name="summary" rows="3" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"></textarea>
    </div>

    <label for="isbn" class="block text-sm font-medium text-gray-700">* ISBN:</label>
    <div class="mt-1 flex rounded-md shadow-sm">
      <input required="true" type="text" name="isbn" id="isbn" class="focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 block w-full pr-10 focus:outline-none sm:text-sm rounded-md">
    </div>

    <label class="block text-sm font-medium text-gray-700">Genres:</label>
    <div class="max-w-lg space-y-4">
      <% genres.forEach(genre => { %>
        <div class="relative flex items-start">
          <div class="flex items-center h-5">
            <input id="<%= genre.id %>" name="genre" type="checkbox" value="<%= genre.id %>" checked="<%= genre.checked %>" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
          </div>
          <div class="ml-3 text-sm">
            <label for="<%= genre.id %>" class="font-medium text-gray-700"><%= genre.name %></label>
          </div>
        </div>
      <% }); %>
    </div>
    
    <% if (locals.errors) { %>
      <% errors.forEach(error => { %>
      <p class="mt-2 text-sm text-red-600">
        <%= error.msg %>
      </p>
      <% }) %>
    <% } %>
    <div class="pt-5">
      <div class="flex justify-end">
        <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
      </div>
    </div>
  </form>
</div>